
.input {  
   padding: 12px 15px;
   font-size: 11px; 
   border: 2px solid #00f2fe;
   border-radius: 12px; 
   color: #00f2fe; 
   text-align: center; 
   outline: none; 
   transition: all 0.3s ease; 
   box-shadow: 0 0 10px #00f2fe50;
   animation: neon-pulse 2s infinite; 
}

@keyframes neon-pulse { 
   0% {  
      box-shadow: 0 0 20px #00f2fe50;
   }
   50% {  
      box-shadow: 0 0 20px #00f2fe;
   }
   100% { 
      box-shadow: 0 0 10px #b600fe;
   }
}

* { 
    text-align: center;  
    font-size: 19px; 
    color: white; 
    background-color: black;
 } 

 h1 { 
   font-family: Verdana, Geneva, Tahoma, sans-serif;  
   font-size: 30px;
 }

 .btn { 
   position: relative;
   overflow: hidden;
   background: rgba(15, 67, 110, 0.623); 
   color: whitesmoke; 
   box-shadow: 4px 4px 4px; 
   padding: 10px 25px; 
   border: none; 
   border-radius: 20px;
   font-weight: bold;
   cursor: pointer;
   transition: 0.4s ease;
 }

.btn::before { 
   content: "";
   position: absolute; 
   top: 0;
   left: -75%;
   width: 50%; 
   height: 100%; 
   background: linear-gradient( 
      120deg, 
      rgba(255, 255, 255, 0.3) 0%, 
      rgba(255, 255, 255, 0.6) 50%, 
      rgba(255, 255, 255, 0.3) 100%
   );
   transform: skewX(-20deg);
}

.btn:hover::before { 
   animation: shine 1s ease forwards;
   box-shadow: 5px 5px 5px;
   color: 10px;
}

@keyframes shine { 
   0% { 
      left: -75;
   }
   100% { 
      left: 125%;
   }
}

.btn:hover { 
   transform: scale(1.05);
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


 .btn2:hover { 
    background: #f06cb5;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgb(0, 0, 0, 
    0.2);
 }

 @keyframes pulse { 
   0% { 
      transform: scale(1);
      box-shadow: 0 0 0 rgb(0, 0, 0); 
   }
   50% { 
      transform: scale(1.05);
      box-shadow: 0 0 10px rgb(78, 84,
      200, 0.04);
   }
   100% { 
      transform: scale(1);
      box-shadow: 0 0 0 rgb(0, 0, 0);
   }
 }

 .btn2 { 
   background: #c84e99;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 20px; 
   font-weight: bold;
   box-shadow: 10px 10px 10px;
   animation: pulse 2s infinite;
   transition: 0.3s ease;
 }

 .btn2:hover { 
   background: #089aeeee;
   transform: scale(1. 1); 
   box-shadow: 0 6px 16px rgb(0, 0, 0, 
   0.3);
 } 

 div { 
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 p { 
   font-style: calc( ); 
   font-family: Georgia, 'Times New Roman', Times, serif;
 }